<h1>Users#followings</h1>
<p>Find me in app/views/users/followings.html.erb</p>

<body>
 <main>
　<!--User一覧画面-->
　<h2>Followings Users</h2>
　 <table class = "table" >
 　　　　 <thead>
   　    <th>image</th>
    　　<th>name</th>
       </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
       <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
      </td>
      <td><%= user.name %></td>
      <td>フォロー数:<%= user.followings.count %></td>
      <td>フォロワー数:<%= user.followers.count %></td>
      <td><%= link_to "Show",user_path(user) %></td>
      <% end %>
    </tr>
    </tbody>
   </table>
  </main>
</body>